html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

body {
  background-color: #000000;
  padding:0;
  margin:0;
}

div img {
 width: 100%;
}
